name: Auto Assign Author
on:
  pull_request:
    types: [opened]
  
  
jobs:
  auto-assign-author:
    runs-on: ubuntu-latest
    steps:
      - name: Add Assignee
      - uses: kentaro-m/auto-assign-action@v1.2.1
        with:
          configuration-path: '.github/auto-assign-config.yml'
